<div style="display:flex;flex-direction:col;flex-wrap: wrap;">
  <div *ngFor="let p of newbooks; let i=index;" class="newbook">
    <a target="_new" href="https://pmt-eu.hosted.exlibrisgroup.com/primo-explore/fulldisplay?docid={{p.recordid}}&vid=46KTH_VU1_L&search_scope=default_scope&tab=default_tab&lang=en_US">
      <div>
        <img *ngIf="p.coverurl!='' && p.coverurl!=null" src = "{{p.coverurl}}"/>
      </div>
      <div class="details title">{{p.title}}</div>  
    </a>
    <div class="details">ISBN: {{p.isbnprimo}}</div>
    <!--div class="details">Dewey: {{p.dewey}}</div-->
    <div class="details">Activated: {{p.activationdate | date : "yyyy-MM-dd" : timezone}}</div>
    <div class="details">Subject: {{p.category!='Unknown'?p.category : p.dewey}}</div>
  </div>
</div>