/* You can add global styles to this file, and also import other style files */

.App {
    text-align: left;
  }
  
  .App-logo {
    -webkit-animation: App-logo-spin infinite 20s linear;
            animation: App-logo-spin infinite 20s linear;
    height: 80px;
  }
  
  .App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
  }
  
  .App-title {
    font-size: 1.5em;
  }
  
  .App-intro {
    font-size: small;
    margin: 0 auto;
    background: #fff;
    width: 90.90909091%;
    max-width: 986px;
    overflow: auto;
    padding: 20px 0px;
  }
  
  body {
    background-color: #e3e5e3;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
  a, a:hover, a:visited {
    text-decoration: none;
    color: #24A0D8;
  }
  
  .downloadlink_button {
      background-color: #B0C92B !important;
      background-image: none;
      border-radius: 10px 10px 10px 10px;
      font-size: 14px;
      font-weight: bold;
      font-family: Helvetica;
      padding: 10px;
      margin: 0px;
      background-repeat: repeat-x;
      color: #FFFFFF;
      border: 1px solid #ffffff;
      text-decoration: none;
  }
  
  .pointercursor {
    cursor: pointer;
  }
  
  .kthheader {
    margin: 0 38px;
  }
  
  .kthheaderlogo {
    overflow: auto;
    padding: 20px 0px;
  }
  
  .kthheadertext {
    border-top: 1px dotted #B9BBBD;
    font-size: 32px;
    font-family: Georgia Regular,Georgia,garamond pro,garamond,times new roman,times,serif,droid sans;
    padding: 15px 0px;
  }
  
  .kthbutton {
    background-color: #B0C92B !important;
    background-image: none;
    border-radius: 10px 10px 10px 10px;
    font-size: 14px;
    font-weight: bold;
    font-family: Helvetica;
    padding: 5px;
    margin: 0px;
    background-repeat: repeat-x;
    color: #FFFFFF;
    cursor: pointer;
    border: 1px solid #ffffff;
    outline: none;
  }
  
  .floatleft {
    float:left;
  }
  
  .floatright {
    float: right;
  }
  
  .width100percent {
    width: 100%;
  }
  
  .textalignright {
    text-align: right;
  }
  
  .textaligncenter {
    text-align: center;
  }
  
  .paddingleft10 {
    padding: 0px 0px;
  }
  
  .paddingbottom15 {
    padding-bottom: 15px;
  }
  
  .marginbottom15 {
    margin-bottom: 15px;
  }
  
  .button {
    /*width: 140px;*/
    position: relative;
    background-color: #a2e4b9;
    border: none;
    font-size: 16px;
    color: #000;
    padding: 20px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    -o-transition-duration: 0.4s;
       transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    outline: none;
  }
  
  .button:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    -webkit-transition: all 0.8s;
    -o-transition: all 0.8s;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    -webkit-transition: 0s;
    -o-transition: 0s;
    transition: 0s
  }
  
  .width100percent {
    width: 100%;
  }
  
  .flexcontainer {
    display: -ms-flexbox;
    display: flex
  }
  
  .flex90 {
    -ms-flex: 90 1;
        flex: 90 1;
  }
  
  .flex10 {
    -ms-flex: 10 1;
        flex: 10 1;
  }
  
  .bottomalignselfflex {
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  
  .centeralignselfflex {
    -ms-flex-item-align: center;
        align-self: center;
  }
  
  .kthlead {
    padding: 10px 0px 15px 0px;
    font-size: 18px;
    color: #000000;
    font-weight: normal;
    line-height: 23px;
    font-family: 'Georgia Regular', 'Georgia', 'garamond pro', garamond, 'times new roman', times, serif, 'droid sans';
    color: #333333;
    clear: left;
  }
  
  @-webkit-keyframes App-logo-spin {
    from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  }
  
  @keyframes App-logo-spin {
    from { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  }